---
title: Workshops
---
<h1>Cursos</h1>

 <table style="width:100%">
  <tr>
    <th> 10h - 12h </th>
    <th> 13h - 15h </th>
    <th> 16h - 18h </th>
  </tr>
  <tr>
    <td> Emaranhamento </td>
    <td> Campos </td>
    <td> Complexidade </td>
  </tr>
  <tr>
    <td> Categorias </td>
    <td> Astrofísica </td>
    <td> Partículas  </td>
  </tr>
  <tr>
    <td>  </td>
    <td> Física Atmosférica </td>
   <td>  </td>
  </tr>
</table> 

{% for workshop in site.workshops %}
    {% if workshop.eventcode contains 'jayme5' %}
    <h2><a href="{{ workshop.url }}">{{ workshop.title }}</a></h2>
    <h4>{{ workshop.vagas }}</h4>
    <p><b>Ministrante:</b> {{ workshop.lecturer }}</p>
    <p><b>Horário:</b> {{ workshop.schedule }}</p>
    {% endif %}
{% endfor %}
