---
title: Workshops à distância
---
<h1>Workshops à distância</h1>

 <table style="width:100%">
  <tr>
    <th>8h às 10h</th>
    <th>10h às 12h</th>
    <th>13h às 15h</th>
    <th>16h às 18h</th>
   <th>19h às 21h</th>
  </tr>
  <tr>
    <td>Gravidade Quântica</td>
    <td>Cosmologia</td>
    <td>Qiskit</td>
    <td>História da FQ</td>
    <td></td>
  </tr>
</table> 


{% for workshop in site.workshops %}
    {% if workshop.eventcode contains 'jayme4-distancia' %}
    <h2><a href="{{ workshop.url }}">{{ workshop.title }}</a></h2>
    <h4>{{ workshop.vagas }}</h4>
    <p><b>Ministrante:</b> {{ workshop.lecturer }}</p>
    <p><b>Horário:</b> {{ workshop.schedule }}</p>
    {% endif %}
{% endfor %}
