<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">
{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body><center>
      <!--<div id="header">-->
      <div>
        <nav id="Menu">
          <a href="{{ site.url }}/jayme/2022"><button class="navbutton">Home</button></a>
          <div class="dropdown"><a href="{{ site.url }}/jayme/2022/workshops-presenciais"><button class="dropbtn">Workshops presenciais</button></a>
            <div class="dropdown-content">
              {% for workshop in site.workshops %}
                {% if workshop.eventcode contains 'jayme4-presencial' %}
                  <a href="{{ workshop.url }}">{{ workshop.shortname | default: workshop.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="dropdown"><a href="{{ site.url }}/jayme/2022/workshops"><button class="dropbtn">Workshops à distância</button></a>
            <div class="dropdown-content">
              {% for workshop in site.workshops %}
                {% if workshop.eventcode contains 'jayme4-distancia' %}
                  <a href="{{ workshop.url }}">{{ workshop.shortname | default: workshop.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <a href="{{ site.url }}/jayme/2022/faq"><button class="navbutton">F.A.Q.</button></a>
          <a href="{{ site.url }}/jayme/2022/inscricoes"><button class="navbutton">Inscrições</button></a>
          <a href="{{ site.url }}"><button class="navbutton">DPS</button></a>
        </nav>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1 style="font-weight: 500">{{ site.jayme4title | default: site.github.repository_name }}</h1>
          <p>{{ site.title | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme based on "Midnight", by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </center></body>
</html>
